<!DOCTYPE html>
<html lang="en" id="html-comp">

<head>

	<meta name="google-site-verification" content="m13gPl4jK_gxaNPRDzSRx_QrF0JLEmoFkDSKZKroabU" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Mayank Shaan Dhania (MSD) loves programming, photography, traveling, and Batman. He does not like talking about himself in the 3rd person. He is a founding team member of Masmic & hireXP. Previously, he worked as a software engineer at Infosys, Lightstone Labs, and completed his bachelor's in computer science from The Technological Institute Of Textile & Sciences (TIT&s). Lead Frontend engineer with Oye! Rickshaw, Swiflearn, MSMEx, PSL11, and KoinOK." />
	<meta name="keywords"
		content="Mayank, shaan, dhania, gurgaon, developer, vue js, frontend, msd media, msd, mayank shaan dhania, msd tech, mayank shaan, mayank dhania" />
	<meta name="robots" content="index, follow" />

	<!-- Open Graph-->
	<meta name="og:locale" property="og:locale" content="en_IN" />
	<meta name="og:type" property="og:type" content="website" />
	<meta name="og:title" property="og:title" content="Mayank Shaan Dhania | Full-Stack Front-End Developer" />
	<meta name="og:url" property="og:url" content="https://www.mayankdhania.com" />
	<meta name="og:site_name" property="og:site_name" content="Mayank Shaan Dhania | Full-Stack Front-End Developer" />
	<meta name="article:publisher" property="article:publisher" content="https://www.mayankdhania.com" />
	<meta name="og:image" property="og:image" content="https://www.mayankdhania.com/media/designer/catman.jpg" />
	<meta name="og:description" property="og:description"
		content="Mayank Shaan Dhania (MSD) loves programming, photography, traveling, and Batman. He does not like talking about himself in the 3rd person. He is a founding team member of Masmic & hireXP. Previously, he worked as a software engineer at Infosys, Lightstone Labs, and completed his bachelor's in computer science from The Technological Institute Of Textile & Sciences (TIT&s). Lead Frontend engineer with Oye! Rickshaw, Swiflearn, MSMEx, PSL11, and KoinOK." />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@mayank_shaan" />
	<meta name="twitter:url" content="https://www.mayankdhania.com" />
	<meta name="twitter:image" content="https://www.mayankdhania.com/media/designer/catman.jpg" />
	<meta name="twitter:title" content="Mayank Shaan Dhania | Full-Stack Front-End Developer" />
	<meta name="twitter:description"
		content="Mayank Shaan Dhania (MSD) loves programming, photography, traveling, and Batman. He does not like talking about himself in the 3rd person. He is a founding team member of Masmic & hireXP. Previously, he worked as a software engineer at Infosys, Lightstone Labs, and completed his bachelor's in computer science from The Technological Institute Of Textile & Sciences (TIT&s). Lead Frontend engineer with Oye! Rickshaw, Swiflearn, MSMEx, PSL11, and KoinOK." />

	<meta name="author" content="Mayank Shaan Dhania" />

	<title>Mayank Shaan Dhania | Full-Stack Front-End Developer</title>

	<!-- Hotjar Tracking Code for https://mayankdhania.com/ -->
	<script>
		(function (h, o, t, j, a, r) {
			h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
			h._hjSettings = { hjid: 871256, hjsv: 6 };
			a = o.getElementsByTagName('head')[0];
			r = o.createElement('script'); r.async = 1;
			r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
			a.appendChild(r);
		})(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
	</script>

	<!-- fullstory -->
	<script>
		window['_fs_debug'] = false;
		window['_fs_host'] = 'fullstory.com';
		window['_fs_script'] = 'edge.fullstory.com/s/fs.js';
		window['_fs_org'] = 'X0A6N';
		window['_fs_namespace'] = 'FS';
		(function (m, n, e, t, l, o, g, y) {
			if (e in m) { if (m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); } return; }
			g = m[e] = function (a, b, s) { g.q ? g.q.push([a, b, s]) : g._api(a, b, s); }; g.q = [];
			o = n.createElement(t); o.async = 1; o.crossOrigin = 'anonymous'; o.src = 'https://' + _fs_script;
			y = n.getElementsByTagName(t)[0]; y.parentNode.insertBefore(o, y);
			g.identify = function (i, v, s) { g(l, { uid: i }, s); if (v) g(l, v, s) }; g.setUserVars = function (v, s) { g(l, v, s) }; g.event = function (i, v, s) { g('event', { n: i, p: v }, s) };
			g.anonymize = function () { g.identify(!!0) };
			g.shutdown = function () { g("rec", !1) }; g.restart = function () { g("rec", !0) };
			g.log = function (a, b) { g("log", [a, b]) };
			g.consent = function (a) { g("consent", !arguments.length || a) };
			g.identifyAccount = function (i, v) { o = 'account'; v = v || {}; v.acctId = i; g(o, v) };
			g.clearUserCookie = function () { };
			g._w = {}; y = 'XMLHttpRequest'; g._w[y] = m[y]; y = 'fetch'; g._w[y] = m[y];
			if (m[y]) m[y] = function () { return g._w[y].apply(this, arguments) };
			g._v = "1.2.0";
		})(window, document, window['_fs_namespace'], 'script', 'user');
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118773236-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-118773236-1');
	</script>

	<!-- Stylesheets
	================================================= -->
	<link rel="shortcut icon" type="image/png" href="media/fav2.png" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css" />
	<!--Google Fonts-->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
	<!--Favicon-->
	<link rel="stylesheet" href="css/custom-designer.css" />
	<link rel="stylesheet" href="css/everything-button.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/webp-support-detect.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<!-- Preloader -->
	<div class="preloader">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
	</div>

	<div id="vapp">
		<!-- Navigation
	================================================= -->
		<header id="header" class="on-scroll">
			<nav class="navbar navbar-default navbar-fixed-top nav-center-aligned">
				<div class="container-fluid">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="menu-sign">Menu <img src="media/designer/menu.png" alt="msd" /></span>
						</button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="page-scroll" href="#intro"><span>01</span>Intro</a></li>
							<li><a class="page-scroll" href="#about"><span>02</span>About</a></li>
							<li><a class="page-scroll" href="#services"><span>03</span>Expertise</a></li>
							<li><a class="page-scroll" href="#skills"><span>04</span>Skills</a></li>
							<li><a class="page-scroll" href="#folio"><span>05</span>Portfolio</a></li>
							<li><a class="page-scroll" href="#testimonials"><span>06</span>Testimonials</a></li>
							<li><a class="page-scroll" href="#timeline"><span>07</span>Timeline</a></li>
							<li><a class="page-scroll" href="#footer"><span>08</span>Contact</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container -->
			</nav>
		</header>

		<!-- Intro Section
	================================================= -->
		<section id="intro" class="">
			<div id="paralaxWeb" :class="activeParalax !== 'kashmir' ? 'clip-bottom' : ''">
				<button class="btn-animate hidden-xs hidden-sm" id="toggleParalaxButton" @click="updateParalax">
					{{activeParalax && activeParalax == 'kashmir' ? 'Go to Pushkar' : 'Go to Kashmir'}}
				</button>

				<div class="overflow-h">
					<div class="container-fluid hidden-xs hidden-sm" :style="activeParalax !== 'kashmir' ?
							`background: white;
							background-size: cover; height: 100%; overflow: hidden;` :
							`background: url('media/designer/kashmirParalax/baseBackground.jpg');
							background-size: cover; height: 100%; overflow: hidden;` ">


						<!-- kashmir paralax -->
						<ul id="scene2" v-if="activeParalax == 'kashmir'" class="scene border fill">
							<li class="layer expand-width" data-depth="0.15">
								<img style="transform: scale(1.5,1)"
									:src="'media/designer/kashmirParalax/backgroundSky' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.30">
								<img :src="'media/designer/kashmirParalax/viewNatureBoard' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.40">
								<img style="transform: scale(1.2,1)"
									:src="'media/designer/kashmirParalax/stones' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.55">
								<img style="transform: translate(12px, -0%);"
									:src="'media/designer/kashmirParalax/manStanding' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.65">
								<div class="my-info" id="nameKashmir" data-parallax='{"y": 100}'>
									<h3>I am a developer/designer</h3>
									<h1 class="name-sm">{{name}}</h1>
								</div>
							</li>
							<li class="layer expand-width" data-depth="1.00">
								<img style="transform: scale(1.5,1)"
									:src="'media/designer/kashmirParalax/ground' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>
						</ul>

						<!-- pushkar paralax -->
						<ul id="scene2" v-else class="scene border fill">
							<li class="layer expand-width" data-depth="0.15">
								<img style="transform: scale(1.2,1.2)"
									:src="'media/designer/pushkarParalax/sky' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.30">
								<img style="transform: scale(1.2,1)"
									:src="'media/designer/pushkarParalax/feild' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.40">
								<img style="transform: scale(1.2,1)"
									:src="'media/designer/pushkarParalax/car' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.55">
								<img style="transform: translate(12px, -0%);"
									:src="'media/designer/pushkarParalax/msd' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="msd" class="img-responsive" />
							</li>

							<li class="layer expand-width" data-depth="0.65">
								<div class="my-info" id="namePushkar" style="padding-top: 30vh;"
									data-parallax='{"y": 100}'>
									<h3>I am a developer/designer</h3>
									<h1 class="name-white">{{name}}</h1>
								</div>
							</li>
							<li class="layer expand-width" data-depth="1.00">
								<img style="transform: scale(1,1)"
									:src="'media/designer/pushkarParalax/bird' + (supportsWebPComputed ? '.webp' : '.png')"
									alt="ground" class="img-responsive" />
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="paralaxMobile" class="overflow-h intro-container">
				<div class="container-fluid hidden-md hidden-lg">
					<ul id="scene" class="scene border fill">
						<li class="layer expand-width" data-depth="0.15">
							<img loading=lazy src="media/designer/intro-layer-1.png" alt="msd" class="img-responsive" />
						</li>
						<li class="layer expand-width" data-depth="0.25">
							<img loading=lazy src="media/designer/intro-layer-2.png" alt="msd" class="img-responsive" />
						</li>
						<li class="layer expand-width" data-depth="0.00">
							<div class="yellow-box"></div>
						</li>
						<li class="layer expand-width" data-depth="0.40">
							<img loading=lazy :src="'media/designer/intro-layer-self' + (supportsWebPComputed ? '.webp' : '.png')" alt="msd" class="img-responsive" />
							<!-- <img loading=lazy :src="'media/designer/intro-layer-self-new' + (supportsWebPComputed ? '.webp' : '.png')" alt="msd" class="img-responsive" /> -->
						</li>
						<li class="layer expand-width" data-depth="0.55">
							<img loading=lazy src="media/designer/intro-layer-4.png" alt="msd" class="img-responsive" />
						</li>
						<li class="layer expand-width" data-depth="0.65">
							<div class="my-info" data-parallax='{"y": 100}'>
								<h3 style="padding-bottom: 70px;" v-html="currentPost"></h3>
								<h2 class="name-sm visible-xs">{{name}}</h2>
								<h1 class="name-sm hidden-xs">{{name}}</h1>
							</div>
						</li>
						<li class="layer expand-width" data-depth="1.40">
							<img src="media/designer/intro-layer-5.png" alt="msd" class="img-responsive" />
						</li>
					</ul>
				</div>
			</div>
		</section>



		<!-- About Me
================================================= -->
		<section id="about">
			<div class="container wrapper">
				<div class="row">
					<div class="col-md-5">
						<div class="photo-block">

							<!--Parallax-->
							<ul class="element-scroll-parallax hidden-sm hidden-xs">
								<li data-parallax='{"rotateZ": 600, "smoothness": 200}'><img
										src="media/designer/about-spots.png" alt="msd" /></li>
							</ul>
							<!--Parallax end-->

							<div class="photo">
								<img loading=lazy src="media/designer/gradient-circle.png" alt="msd" class="photo-frame" />
								<!-- <img loading=lazy src="media/designer/catman.jpg" alt="msd" class="my-photo img-circle" /> -->
								<img loading=lazy :src="'media/designer/about-laptop' + (supportsWebPComputed ? '.webp' : '.jpg')" alt="msd" class="my-photo img-circle" />
							</div>
							<ul class="social-link list-inline">
								<li>
									<a href="https://www.facebook.com/mayank.dhania" target="_blank">
										<img loading=lazy src="media/designer/social/facebook.png" alt="msd" />
									</a>
								</li>
								<li>
									<a href="https://twitter.com/mayank_shaan">
										<img loading=lazy src="media/designer/social/twitter.png" alt="msd" />
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/msdmedia_/">
										<img src="media/designer/social/insta.png" alt="msd" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-7">
						<div class="text-me">
							<div class="headline">
								<h2>About <span class="yellow">Me</span></h2>
							</div>
							<p>
								Complications? Well, I need to be there!
							</p>
							<p>
								I am a full stack front-end developer from India. And I enjoy turning complex problems into simple, beautiful, and intuitive designs!
								I have my entire focus and efforts on creating useful software products.
							</p>
							<p>
								When I'm not coding, designing, or pushing pixels; you’ll find me cooking, gaming, or taking photographs in the streets
							</p>
							<ul class="list-inline actions">
								<li>
									<a class="page-scroll" href="#footer"><button class="btn btn-primary">Hire Me</button></a>
								</li>
								<li><a class="page-scroll" href="#folio"><button class="btn btn-secondary">Folio</button></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Services -->
		<section id="services">

			<!--Services Background-->
			<div class="service-background hidden-sm hidden-xs">
				<div class="violate"></div>
				<div class="dark"></div>
			</div>
			<!--Background ends-->

			<!--Section Parallax-->
			<ul class="element-scroll-parallax hidden-sm hidden-xs">
				<li data-parallax='{"x": -150, "y": 500, "perspective": 500}'>
					<img loading=lazy src="media/designer/service-1.png" alt="msd" />
				</li>
				<li data-parallax='{"y": -300, "rotateY": 300}'>
					<img loading=lazy src="media/designer/service-2.png" alt="msd" />
				</li>
				<li>
					<img loading=lazy src="media/designer/texts.png" alt="msd" />
				</li>
				<li data-parallax='{"y": 200}'>
					<img loading=lazy src="media/designer/circle-fill.png" alt="msd" />
				</li>
			</ul>
			<!--Parallax end-->

			<div class="container wrapper">
				<div class="row">
					<div class="service-contents">
						<div class="col-md-5">
							<div class="headline">
								<h2 class="white">My Expertise</h2>
							</div>
							<p class="white">
								I’ve always been drawn to the overlap between design and development.
								My skills are broad, ranging from ux to design, front-end to back-end development.
								And I enjoy each aspect. I love building websites & mobile apps from start to finish, for clients all over the world.
							</p>
						</div>
						<div class="col-md-5 col-md-offset-2">
							<div class="service-item">
								<span class="service-icon"><i class="icon ion-ios-lightbulb-outline"></i></span>
								<div class="item-info">
									<h3 class="white"> &lt coder /&gt</h3>
									<p class="grey">A front End coder who focuses on writing clean, elegant and
										efficient
										code. I love coding things from scratch, but I can work with front-end
										frameworks
										like Bootstrap, Material UI, Ant Desing too.</p>
								</div>
							</div>
							<div class="service-item">
								<span class="service-icon"><i class="icon ion-ios-browsers-outline"></i></span>
								<div class="item-info">
									<h3 class="white">UI/UX designer</h3>
									<p class="grey">
										As a designer, I am passionate about creating visually appealing and functional user experiences.
									</p>
								</div>
							</div>
							<div class="service-item">
								<span class="service-icon"><i class="icon ion-ios-camera-outline"></i></span>
								<div class="item-info">
									<h3 class="white">Photographer
										<span style="font-size: 24px; padding-left: 10px;">
											<a href="https://www.instagram.com/msdmedia_/" style="color: #efefef;"
												target="_blank"><i class="icon ion-social-instagram-outline"></i></a>
										</span>
									</h3>
									<p class="grey">
										Through pictures, I try to portray my perception of time, space, emotions, and experiences; in a way that others get to relate to that moment.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Skills
================================================= -->
		<section id="skills">
			<div class="container wrapper">
				<div class="row" style="margin-bottom: 40px;">
					<div class="col-md-4 col-md-offset-1">
						<div class="photo-skills">
							<img loading=lazy src="media/designer/skills.png" alt="msd" class="img-responsive img-skills" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="headline">
							<h2><span class="yellow">My</span> Skills</h2>
						</div>
						<div class="skillset">
							<div v-for="(skill, si) in skills" :key="si" class="skillbar"
								:data-percent="skill.percentage">
								<div class="title">{{skill.name}}</div>
								<div class="count-bar">
									<div class="count"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Portfolio Section ================================================= -->
		<section id="folio">
			<div class="container wrapper">
				<div class="headline">
					<h2><span class="yellow">My</span> Folio</h2>
				</div>

				<ul class="folio-menu list-inline">
					<li class="fil-cat" :data-rel="title.type" v-for="title in navBarTitles" :key="title.name">{{title.name}}</li>
				</ul>

				<!-- <div> -->
				<div id="portfolio">
					<div v-for="(project, pi) in shuffle(projects)"
						class="tile scale-anm"
						:class="project.type"
						>
						<img :src="project.thumbnail || project.image" alt="msd" data-toggle="modal" :data-target="`.project-${pi+1}`" />
					</div>
				</div>
			
				<!-- models for data after click -->
				<div v-for="(project, pi) in projects" class="modal fade" :class="`project-${pi+1}`" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="project-name">
								{{project.name}}
							</div>
							<div class="project-title">
								{{project.title}}
							</div>
							<div v-if="project.action === ''">
								<img :src="project.image" alt="msd" class="img-responsive" />
							</div>
							<div v-if="project.action === 'IFRAME'">
								<div style="height: 50vh; width: 100%;">
									<iframe width="100%" height="100%"
										style="border-radius: 16px; box-shadow: 0 3px 24px 0 rgba(245, 167, 188, 0.16);"
										:src="project.link"
										frameBorder="0"
										allow="accelerometer, autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowFullScreen></iframe>
								</div>
							</div>
							<div class="project-desc">
								{{project.description}}
							</div>
							
							<button class="btn btn-secondary" @click="handleJumpToProject(project.link)">
								Jump to project
							</button>
							<div>
								<button class="btn btn-white" style="margin-right: 15px;" data-toggle="modal" :data-target="`.project-${pi+1}`">
									back
								</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

		<!-- Testimonials Section  -->
		<section id="testimonials">

			<!--Section Parallax-->
			<ul class="element-scroll-parallax hidden-sm hidden-xs">
				<li data-parallax='{"y": 200}'>
					<img loading=lazy src="media/designer/testimonial-1.png" alt="msd" />
				</li>
				<li data-parallax='{"y": -400, "rotateY": 300}'>
					<img loading=lazy src="media/designer/testimonial-2.png" alt="msd" />
				</li>
				<li data-parallax='{"y": 400, "rotateZ": 300}'>
					<img loading=lazy src="media/designer/testimonial-3.png" alt="msd" />
				</li>
				<li data-parallax='{"y": -500}'>
					<img loading=lazy src="media/designer/testimonail-4.png" alt="msd" />
				</li>
			</ul>
			<!--Parallax End-->

			<div class="container wrapper-testimonials white-bg">
				<div class="headline">
					<h2>{{title}}</h2>
				</div>

				<!--Testimonial Carousel--> 
				<div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div :class="testimonial.classes" v-for="(testimonial, ti) in testimonials" :key="ti">
							<div class="testimonial-client">
								<div class="client-photo">
									<img loading=lazy :src="testimonial.image" alt="client" class="img-circle" />
									<span class="quote"><i class="icon ion-quote"></i></span>
								</div>
								<h3>{{testimonial.name}}</h3>
								<span v-html="testimonial.post"></span>
							</div>
							<blockquote>“<span v-html="testimonial.message"></span>”</blockquote>
						</div>

						<!--Carousel Indicator-->
						<ol class="carousel-indicators carousel-indicators-set">
							<li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-testimonials" data-slide-to="1"></li>
							<li data-target="#carousel-testimonials" data-slide-to="2"></li>
							<li data-target="#carousel-testimonials" data-slide-to="3"></li>
							<li data-target="#carousel-testimonials" data-slide-to="4"></li>
						</ol>
					</div>
				</div>
		</section>

		<!-- Timline Section -->
		<section id="timeline">
			<div class="container wrapper">
				<div class="headline">
					<h2>Timeline</h2>
				</div>
				<div class="timeline-contents">
					<div :class="event.eventClass" v-for="(event, ei) in  timelineEvents" :key="ei">
						<div class="row">
							<div class="col-sm-6" :class="ei%2 !== 0 ? 'col-sm-push-6': ''">
								<div class="duration" :class="ei%2 !== 0 ? 'duration-right' : 'duration-left'">
									{{event.duration}}</div>
							</div>
							<div class="col-sm-6" :class="ei%2 !== 0 ? 'col-sm-pull-6': ''">
								<div class="event"
									:class="ei%2 !== 0 ? 'event-description-left' : 'event-description-right'">
									<h4 v-html="event.title"></h4>
									<span v-html="event.description"></span>
									<div vi-f="event.products">
										<span v-html="event.products"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer
================================================= -->
		<footer id="footer">

			<!--Footer Parallax-->
			<ul class="element-scroll-parallax hidden-sm hidden-xs">
				<li data-parallax='{"y": 400, "rotateY": 300, "rotateZ": -400}'>
					<img loading=lazy src="media/designer/footer-l-1.png" alt="msd" />
				</li>
				<li data-parallax='{"y": -600, "rotateZ": -300}'>
					<img loading=lazy src="media/designer/footer-l-2.png" alt="msd" />
				</li>
				<li data-parallax='{"x": 700}'>
					<img loading=lazy src="media/designer/footer-l-3.png" alt="msd" />
				</li>
			</ul>
			<!--Parallax End-->

			<div class="container wrapper">
				<div class="row">
					<div class="col-md-7">
						<div class="headline">
							<h2 class="white">Contact <span class="yellow">me</span></h2>
						</div>

						<form name="contact-form" method="POST" data-netlify="true"
							class="contact-form" id="contact-form">
							<div class="form-group">
								<input id="contact-name" type="text" name="name" class="form-control"
									placeholder="Enter your name *" required="required" data-error="Name is required.">
							</div>
							<div class="form-group">
								<input id="contact-email" type="text" name="email" class="form-control"
									placeholder="Enter your email *" required="required"
									data-error="Email is required.">
							</div>
							<div class="form-group">
								<input id="contact-phone" type="text" name="phone" class="form-control"
									placeholder="Enter your phone">
							</div>
							<div class="form-group">
								<textarea id="form-message" name="message" class="form-control"
									placeholder="Leave a message for me *" rows="4" required="required"
									data-error="Please,leave us a message."></textarea>
							</div>
							<button class="btn btn-secondary" type="submit">
								Send message
							</button>
						</form>

					</div>
					<div class="col-md-5">

						<!--Contact Information-->
						<div class="contact-info">
							<div class="contact-detail">
								<div class="reach">
									<h3 class="white">LET'S CONNECT</h4>
									<!-- <p>
										Feel Free to contact me
									</p> -->
								</div>
								<div class="reach">
									<a class="footerAnchor"
										href="https://drive.google.com/file/d/1A2Uxx_pZSSnyclt05hJvEN1mYAsYWyeG/view?usp=sharing"
										target="_blank">
										<span style="font-size: 18px;" class="white">
											My Resume 📄
										</span>
									</a>
									<!-- <p>
										<a class="footerAnchor"
											href="https://drive.google.com/file/d/1A2Uxx_pZSSnyclt05hJvEN1mYAsYWyeG/view?usp=sharing"
											target="_blank">
											Click Here!
										</a>
									</p> -->
								</div>
								<div class="reach">
									<a class="footerAnchor"
										href="mailto:mayankshaandhania@gmail.com?Subject=Mail from website"
										target="_top">
										<span style="font-size: 18px;" class="white">
											Send an email 📧
										</span>
									</a>
									<p>
										<a class="footerAnchor"
											href="mailto:mayankshaandhania@gmail.com?Subject=Mail from website"
											target="_top">mayankshaandhania@gmail.com</a>
									</p>
								</div>
							</div>
							<div style="position: relative; padding-bottom: 10px; padding-left: 30px;" class="reach">
								<h4 class="white">Find me on social media 🔗</h4>
							</div>
							<ul class="list-inline social-icons">
								<li><a href="https://www.facebook.com/mayank.dhania" target="_blank"><i
											class="icon ion-social-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/msdmedia_/" target="_blank"><i
											class="icon ion-social-instagram-outline"></i></a></li>
								<li><a href="https://twitter.com/mayank_shaan" target="_blank"><i
											class="icon ion-social-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/mayankdhania/" target="_blank"><i
											class="icon ion-social-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Scripts
================================================= -->
	<script src="js/vue-scripts.js"></script>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

	<!-- <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js' /> -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>

	<script src="js/plugins/parallax.hover.js"></script>
	<script src="js/plugins/jquery.parallax-scroll.js"></script>

	<script src="js/plugins/jquery.appear.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.compatibility.min.js"></script>
	<script src="js/plugins/jquery.easing.min.js"></script>

	<script src="js/plugins/scrolling-nav.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>